<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.jewelry950989" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>jewelry</name>
  <description>
        An Ionic Framework and Cordova project.
  </description>
  <author email="you@example.com" href="http://example.com.com/">
      Your Name Here
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="SplashScreenDelay" value="2000"/>
  <preference name="FadeSplashScreenDuration" value="2000"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <plugin name="cordova-plugin-whitelist" />
  <plugin name="cordova-plugin-crosswalk-webview" />
  <plugin name="cordova-camera-preview" />
  <plugin name="com.cordova.plugin.canvascamera" spec="https://github.com/Gregivy/cordova-canvas-camera" />
  <access origin="*" />
</widget>