<ion-view view-title="{{title}}" class="itemlist" hide-nav-bar="true">
	<ion-content class="has-footer padding" on-scroll="showCats()">
	  <img src="./img/logo.png" class="logo centered" id="logo" ng-click="repeatAnimation()">
	  <div class="categorylist">
	  	<div class="category" ng-repeat="category in categories">
	  	  <div class="catlogo" ng-click="showCategory($index)" >
	  	  <img src="./store/{{category.imgs[0]}}" class="centered not-visible" style="position:static">
	  	  	<img src="./store/{{img}}" class="centered not-visible" ng-repeat="img in category.imgs" style="z-index:{{$index}}">
	  	  </div>	  	  
	  	  <h3 ng-click="showCategory($index)">{{category[lang]}}</h3>
	  	</div>
	  </div>
	</ion-content>
	<ion-footer-bar align-title="center" class="bar-light">
	  <button class="button icon ion-android-arrow-up button-dark" ng-click="scrollTop()"></button>
	  <button class="button button-dark" ng-click="visitUs()">{{localization.visitus[lang]}} <i class="icon ion-bag"></i></button>
	</ion-footer-bar>
</ion-view>