<ion-view view-title="{{title}}" class="cameraprev">
	<ion-nav-buttons side="right">
      <button class="button icon ion-ios-reverse-camera button-dark button-outline" ng-click="swapCamera()"></button>
    </ion-nav-buttons>

	<ion-content class="has-footer" scroll="false">
		<canvas id="photo"></canvas>
	</ion-content>
	<ion-footer-bar align-title="center" class="bar-light photobar">
	  <button ng-show="!photoTaken" class="button icon ion-camera button-dark button-large centered makephoto" ng-click="takePhoto()"></button>
	  <div class="centered" ng-show="photoTaken">
	  	<button class="button button-dark button-large makephoto" ng-click="savePhoto()" ng-disabled="savingphoto">{{localization.save[lang]}}</button>
	  	<button class="button button-dark button-large makephoto" ng-click="retakePhoto()">{{localization.retake[lang]}}</button>
	  </div>
	</ion-footer-bar>
</ion-view>