<ion-view view-title="{{title}}" class="itemlist">
	<ion-content class="has-footer padding">
	  <div class="jewelrylist">
	  	<div class="jewelry" ng-repeat="item in items">
	  	  <img src="./store/{{item.imgs[0]}}" class="centered" ng-click="showDetails($index)">
	  	  <h3>{{item.name}}</h3>
	  	  <div class="centered" style="width:230px">
		  <button class="button button-light button-outline" style="width:100px" ng-click="showPreview($index)">
  			{{localization.tryiton[lang]}}
		  </button>

		  <button class="button button-dark button-outline" style="width:120px" ng-click="openPreorder()">
  			{{localization.preorder[lang]}}
		  </button>
		  </div>
	  	</div>
	  </div>
	</ion-content>
	<ion-footer-bar align-title="center" class="bar-light">
	  <button class="button icon ion-android-arrow-up button-dark" ng-click="scrollTop()"></button>
	  <button class="button button-dark" ng-click="visitUs()">{{localization.visitus[lang]}} <i class="icon ion-bag"></i></button>
	</ion-footer-bar>
</ion-view>