<ion-view view-title="{{title}}">
	<ion-content class="padding">
		<!-- Swiper -->
	    <div class="my-swiper-container">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide" style="background-image:url(./store/{{img}})" ng-repeat="img in item.imgs"></div>
	        </div>
	    </div>
	    <button class="button button-dark button-outline centered button-small bottom-margin" ng-click="showPreview()">
  			{{localization.tryiton[lang]}} <i class="icon ion-camera"></i>
		</button>
		<button class="button button-dark centered button-large" ng-click="openPreorder()">
  			Pre-order
		</button>
		<div class="desc">
			{{item.desc[lang]}}
		</div>
	</ion-content>
</ion-view>