/* Empty. Add your own CSS if you like */

[nav-view-transition="ios"][nav-view-direction="forward"], [nav-view-transition="ios"][nav-view-direction="back"] {
	background-color: transparent !important;
}

.acs {
	-webkit-transform: translate3d(0,0,0);
}

html,
body {
  height: 100%;
  /*-webkit-transform: translate3d(0,0,0);*/
  background-color: transparent !important;
}

.transback {
	background-color: transparent !important;
}

ion-footer-bar.photobar {
	height: 100px !important;
	background-color: rgba(110,110,109,0.3) !important;
}

.tryitonImg {
	display:block;
	position: absolute;
	z-index:100;
	width:30%;
}

.bottom-margin {
	margin-bottom: 10px;
}

.photobar .makephoto {
	width:100px;
}

.photobar button.icon::before {
	font-size:58px !important;
}

.category {
	padding-bottom: 50px;
}

video {
	position:absolute;
	z-index: 1;
	top:0;
	left:0;
}

.centered {
	margin-left: auto;
    margin-right: auto;
    display: block;
}

.logo {
	width:100%;
	padding-bottom: 20px;
}
.jewelrylist {
	padding-bottom: 50px;
}
.jewelry img {
	width:60%;
}
.jewelry h3, .category h3 {
	font-weight: 100;
	text-align: center;
}
a {
	text-decoration: none;
	color: white !important;
}
.itemlist .bar-footer {
	height: 44px !important;
	background-color: rgba(110,110,109,0.9) !important;
}
.itemlist .has-footer, .cameraprev .has-footer {
	bottom: 0px !important;
}

    .my-swiper-container {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
    }

.desc {
	margin-top:20px;
	font-size: inherit;
}
.not-visible {
  visibility: hidden;
}
.catlogo {
	position: relative;
}
.catlogo img {
	position: absolute;
	top:0;
	left:0;
	right:0;
	width:60%;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {  
  border-left: 2px solid red;
  border-right: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {  
  border-left: 2px solid green;
  border-right: 2px solid green;
}

/** Styling for the error text and container **/
.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}